.App {
  width: 100%;
  height: 100vh;
}

// меню

.nav-bar {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #3f51b5;
  .active {
    background: #fff;
  }
  a {
    padding: 25px 20px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
  }
}

// главная

.main-block {
  display: flex;
  flex-direction: column;
  .person {
    display: flex;
    width: 100%;
    max-width: 400px;
    border-bottom: 1px solid #000;
    cursor: pointer;
    padding: 15px;
    .person-info {
      margin-left: 15px;
      .person-info__name {
        font-size: 24px;
        margin: 25px 0;
      }
    }
  }
  .person:hover {
    background: rgba($color: #000000, $alpha: 0.1);
  }
}

// Профиль

.profile {
  display: flex;
  flex-direction: column;
  .profile-info {
    margin-top: 15px;
    width: 100%;
    max-width: 200px;
    .profile-info-name {
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
    }
  }
}

// авторизация

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .auth-block {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    .auth-input {
      margin-bottom: 20px;
    }
    .auth-button {
      width: 100%;
      margin-top: 10px;
    }
  }
  .auth-hint {
    box-shadow: none;
  }
  .error-message {
    color: red;
  }
}
